/*Nina Kong*/
body {
    font-family: Dosis, arial, sans-serif;
    font-size: 20px;
}
h1 {
	padding: 10px 20px;
	color: #83d3c9;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
.ImagePart {
	position: relative;
	height: 377px;
}
.Overlay {
    position: absolute;
    height: 377px;
    width: 100%;
    background-color: #83d3c9;
    z-index: 1;
    opacity: 0.5;
    display:none;
    top: 0;
    left: 0;
    line-height: 377px;
}
.Overlay i {
	font-size: 32px;
}
/*Ultility*/
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.float-right {
	float: right;
}
.padding-0 {
	padding: 0;
}
